<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx/slot3_win_fx_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,184},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{79,79}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>fx/slot3_win_fx_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,389},{77,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{77,79}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>fx/slot3_win_fx_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,176},{79,79}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{79,79}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>fx/slot3_win_fx_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,322},{77,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{77,79}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>fx/slot3_win_fx_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,595},{79,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,15},{79,77}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>fx/slot3_win_fx_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,257},{79,79}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{79,79}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>fx/slot3_win_fx_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,269},{79,79}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{79,79}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>fx/slot3_win_fx_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,350},{79,79}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{79,79}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>fx/slot3_win_fx_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,431},{79,79}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{79,79}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>fx/slot3_win_fx_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,352},{79,79}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{79,79}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>fx/slot3_win_fx_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,433},{79,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{79,79}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>fx/slot3_win_fx_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,308},{79,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{79,79}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>fx/slot3_win_fx_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,389},{79,79}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{79,79}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>fx/slot3_win_fx_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,470},{79,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{79,79}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>fx/slot3_win_fx_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,470},{79,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{79,79}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>fx/slot3_win_fx_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,375},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{79,79}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>fx/slot3_win_fx_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,456},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{79,79}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>fx/slot3_win_fx_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,393},{79,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{79,79}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>fx/slot3_win_fx_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,455},{79,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{79,79}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>fx/slot3_win_fx_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,479},{79,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{79,79}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>fx/slot3_win_fx_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,536},{79,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{79,79}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>fx/slot3_win_fx_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,537},{79,79}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{79,79}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>fx/slot3_win_fx_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,560},{79,79}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{79,79}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>fx/slot3_win_fx_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,93},{79,81}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{79,81}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>fx/slot3_win_fx_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,617},{79,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{79,79}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>fx/slot3_win_fx_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,641},{79,79}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{79,79}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>fx/slot3_win_fx_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,514},{79,79}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{79,79}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>slot3_1_item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{97,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{97,87}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot3_1_item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{97,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{97,89}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot3_1_item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{93,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{93,95}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot3_1_item_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,91},{101,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{101,73}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot3_1_item_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,95},{103,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{103,75}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot3_1_item_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,93},{101,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{101,75}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot3_1_item_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{103,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{103,91}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot3_2_item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,2},{93,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{93,89}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot3_2_item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{97,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{97,87}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot3_2_item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{97,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{97,95}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot3_2_item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,172},{89,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{89,93}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot3_2_item_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{93,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{93,89}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot3_2_item_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{87,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{87,97}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot3_2_item_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{93,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{93,97}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot3_2_item_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{103,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{103,91}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot3_3_item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,170},{79,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{79,81}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot3_3_item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,91},{91,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{91,89}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot3_3_item_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,659},{87,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{87,73}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot3_3_item_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,93},{87,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{87,85}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot3_3_item_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{93,93}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot3_3_item_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{103,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{103,91}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot3_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,403},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>slot3_btn_choithu.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,172},{97,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,49}}</string>
                <key>sourceSize</key>
                <string>{97,49}</string>
            </dict>
            <key>slot3_btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,427},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>slot3_btn_ls.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,551},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>slot3_btn_lshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,551},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>slot3_btn_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,606},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>slot3_dong_cuoc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,83}}</string>
                <key>sourceSize</key>
                <string>{119,83}</string>
            </dict>
            <key>slot3_history_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,658},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>slot3_history_btn_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,606},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>slot3_history_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,658},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>slot3_history_btn_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,603},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>slot3_history_btn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,655},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>slot3_history_btn_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,618},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>slot3_history_btn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,618},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>slot3_history_btn_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,670},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>slot3_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,551},{77,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,53}}</string>
                <key>sourceSize</key>
                <string>{77,53}</string>
            </dict>
            <key>slot3_line_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,166},{82,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,53}}</string>
                <key>sourceSize</key>
                <string>{82,53}</string>
            </dict>
            <key>slot3_line_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,338},{79,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,53}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
            <key>slot3_line_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,170},{81,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,53}}</string>
                <key>sourceSize</key>
                <string>{81,53}</string>
            </dict>
            <key>slot3_line_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,184},{81,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,53}}</string>
                <key>sourceSize</key>
                <string>{81,53}</string>
            </dict>
            <key>slot3_line_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,253},{82,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,53}}</string>
                <key>sourceSize</key>
                <string>{82,53}</string>
            </dict>
            <key>slot3_line_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,180},{81,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,53}}</string>
                <key>sourceSize</key>
                <string>{81,53}</string>
            </dict>
            <key>slot3_line_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,267},{81,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,53}}</string>
                <key>sourceSize</key>
                <string>{81,53}</string>
            </dict>
            <key>slot3_line_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,265},{82,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,53}}</string>
                <key>sourceSize</key>
                <string>{82,53}</string>
            </dict>
            <key>slot3_line_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,263},{81,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,53}}</string>
                <key>sourceSize</key>
                <string>{81,53}</string>
            </dict>
            <key>slot3_line_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,560},{81,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,53}}</string>
                <key>sourceSize</key>
                <string>{81,53}</string>
            </dict>
            <key>slot3_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,271},{79,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,53}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
            <key>slot3_line_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,643},{81,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,53}}</string>
                <key>sourceSize</key>
                <string>{81,53}</string>
            </dict>
            <key>slot3_line_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,253},{83,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,53}}</string>
                <key>sourceSize</key>
                <string>{83,53}</string>
            </dict>
            <key>slot3_line_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,555},{78,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,53}}</string>
                <key>sourceSize</key>
                <string>{78,53}</string>
            </dict>
            <key>slot3_line_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,308},{79,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,53}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
            <key>slot3_line_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,635},{78,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,53}}</string>
                <key>sourceSize</key>
                <string>{78,53}</string>
            </dict>
            <key>slot3_line_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,676},{78,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,53}}</string>
                <key>sourceSize</key>
                <string>{78,53}</string>
            </dict>
            <key>slot3_line_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,320},{79,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,53}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
            <key>slot3_line_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,346},{79,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,53}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
            <key>slot3_line_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,474},{79,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,53}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
            <key>slot3_muc_cuoc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{119,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,83}}</string>
                <key>sourceSize</key>
                <string>{119,83}</string>
            </dict>
            <key>slot3_rank_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,658},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>slot3_rank_btn_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,606},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>slot3_rank_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,658},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>slot3_rank_btn_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,603},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>slot3_rank_btn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,655},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>slot3_rank_btn_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,618},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>slot3_rank_btn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,618},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>slot3_rank_btn_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,670},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_slot3-3@1x.png</string>
            <key>size</key>
            <string>{734,734}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:970eae48f763908d1a9de6027e7d30cb:59da58035493fe6fa01f48314c4d273b:5c474394f96bae2505d9e9e1dc9b2e97$</string>
            <key>textureFileName</key>
            <string>game_slot3-3@1x.png</string>
        </dict>
    </dict>
</plist>
