<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,67},{113,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,52}}</string>
                <key>sourceSize</key>
                <string>{113,52}</string>
            </dict>
            <key>game_ung.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,189},{91,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,47}}</string>
                <key>sourceSize</key>
                <string>{91,47}</string>
            </dict>
            <key>gameplay_ba.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,238},{71,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{71,50}}</string>
                <key>sourceSize</key>
                <string>{125,70}</string>
            </dict>
            <key>gameplay_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,121},{93,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{93,66}}</string>
                <key>sourceSize</key>
                <string>{125,70}</string>
            </dict>
            <key>gameplay_nhat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,70}}</string>
                <key>sourceSize</key>
                <string>{125,70}</string>
            </dict>
            <key>gameplay_nhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{87,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{87,66}}</string>
                <key>sourceSize</key>
                <string>{125,70}</string>
            </dict>
            <key>gameplay_text_culu.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{129,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,63}}</string>
                <key>sourceSize</key>
                <string>{129,63}</string>
            </dict>
            <key>gameplay_text_doi.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,134},{83,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,61}}</string>
                <key>sourceSize</key>
                <string>{83,61}</string>
            </dict>
            <key>gameplay_text_sanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{129,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,66}}</string>
                <key>sourceSize</key>
                <string>{129,66}</string>
            </dict>
            <key>gameplay_text_thu.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,195},{96,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,61}}</string>
                <key>sourceSize</key>
                <string>{96,61}</string>
            </dict>
            <key>taixieu_icon_text_tai.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,67},{65,43}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,14},{65,43}}</string>
                <key>sourceSize</key>
                <string>{123,79}</string>
            </dict>
            <key>tala_mom.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,74},{119,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,62}}</string>
                <key>sourceSize</key>
                <string>{119,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>images-localized-2@1x.png</string>
            <key>size</key>
            <string>{294,294}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c5bc2e0d1e5294705bab8db8cd012bd:415e8692005c7fe84fcd6186dcbdbdd9:8d7c94c4ddf483aaf8e926b7f235e65c$</string>
            <key>textureFileName</key>
            <string>images-localized-2@1x.png</string>
        </dict>
    </dict>
</plist>
