<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adore.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>after_boom.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,92},{43,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>ah.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>amazed.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,92},{43,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>angry.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,92},{43,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>bad_smelly.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,92},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>baffle.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,135},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>beat_brick.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>beat_plaster.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>beat_shot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>beated.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>beauty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>big_smile.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>burn_joss_stick.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>byebye.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>canny.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,135},{43,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>choler.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>cold.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>confident.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,47},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>confuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,135},{43,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>cool.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,92},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>cry.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,135},{43,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>doubt.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,178},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>dribble.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,137},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>embarrassed.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,182},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>extreme_sexy_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,223},{43,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>feel_good.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,227},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>go.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,272},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>haha.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,268},{43,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>hell_boy.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,47},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>hungry.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,47},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>look_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,178},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>matrix.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,223},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>misdoubt.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,47},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>nosebleed.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,268},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>oh.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,47},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>ops.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,178},{43,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>pudency.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,178},{43,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>rap.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,47},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>sad.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,221},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>sexy_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,221},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>shame.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,264},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>smile.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,309},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>spiderman.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,264},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>still_dreaming.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,92},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,313},{43,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{43,39}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>surrender.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,137},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>sweat.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,264},{43,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>sweet_kiss.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,182},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>tire.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,227},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>too_sad.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,272},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>waaaht.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,307},{43,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>what.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,309},{43,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chat_emo-@1x.png</string>
            <key>size</key>
            <string>{354,354}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9c64a5acd230053e95bb506e1cd5282:e020072ef5cbb7b24629188d4d579b0d:82595b4840bcc02293b8dfdc7817a079$</string>
            <key>textureFileName</key>
            <string>chat_emo-@1x.png</string>
        </dict>
    </dict>
</plist>
