<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Chat_icon_emotion.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,445},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{51,50}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>chat_boxchat.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,445},{67,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,60}}</string>
                <key>sourceSize</key>
                <string>{67,60}</string>
            </dict>
            <key>chat_icon_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{139,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,93}}</string>
                <key>sourceSize</key>
                <string>{139,93}</string>
            </dict>
            <key>chat_icon_lichsu.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,514},{45,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{45,43}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>chat_icon_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,519},{118,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,39}}</string>
                <key>sourceSize</key>
                <string>{118,39}</string>
            </dict>
            <key>chat_icon_line_sang_duoi_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,445},{59,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,72}}</string>
                <key>sourceSize</key>
                <string>{59,72}</string>
            </dict>
            <key>chat_icon_line_sang_tren_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,445},{59,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,72}}</string>
                <key>sourceSize</key>
                <string>{59,72}</string>
            </dict>
            <key>chat_icon_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,445},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>chat_icon_send_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,514},{47,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,43}}</string>
                <key>sourceSize</key>
                <string>{47,43}</string>
            </dict>
            <key>chat_icon_thongdung.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,445},{43,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{43,43}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>chat_lichsu_icon_scroll.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{10,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,50}}</string>
                <key>sourceSize</key>
                <string>{10,50}</string>
            </dict>
            <key>chat_lichsu_line_scroll.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{7,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{7,332}}</string>
                <key>sourceSize</key>
                <string>{13,360}</string>
            </dict>
            <key>chat_popup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{441,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{441,498}}</string>
                <key>sourceSize</key>
                <string>{441,498}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chat_ui-@1x.png</string>
            <key>size</key>
            <string>{511,560}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:431741d3b79cbd97058581b8b6b7d9e5:40c7bd626480097929a13481854a1c88:f39f07c94cc93e663285de4ca111f97d$</string>
            <key>textureFileName</key>
            <string>chat_ui-@1x.png</string>
        </dict>
    </dict>
</plist>
