<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lobby_bar_nho_thongtin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,80}}</string>
                <key>sourceSize</key>
                <string>{960,80}</string>
            </dict>
            <key>Quatang_sang.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,338},{375,375}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{375,375}}</string>
                <key>sourceSize</key>
                <string>{403,377}</string>
            </dict>
            <key>bar_bootton_background_gameplay_banchoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{960,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,67}}</string>
                <key>sourceSize</key>
                <string>{960,67}</string>
            </dict>
            <key>bar_top_background_gameplay_banchoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{960,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,46}}</string>
                <key>sourceSize</key>
                <string>{960,46}</string>
            </dict>
            <key>game_base_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,715},{292,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,88}}</string>
                <key>sourceSize</key>
                <string>{292,88}</string>
            </dict>
            <key>game_base_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,338},{292,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,88}}</string>
                <key>sourceSize</key>
                <string>{292,88}</string>
            </dict>
            <key>gameplay_effect_win2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{489,491}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{489,491}}</string>
                <key>sourceSize</key>
                <string>{541,541}</string>
            </dict>
            <key>kimcuong.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,805},{116,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,90}}</string>
                <key>sourceSize</key>
                <string>{116,90}</string>
            </dict>
            <key>lobby_line_sang_background_nen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{960,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,39}}</string>
                <key>sourceSize</key>
                <string>{960,39}</string>
            </dict>
            <key>main_baricon_duoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{960,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,58}}</string>
                <key>sourceSize</key>
                <string>{960,58}</string>
            </dict>
            <key>main_baricon_tren_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{960,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,58}}</string>
                <key>sourceSize</key>
                <string>{960,58}</string>
            </dict>
            <key>main_baricon_tren_nho_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,715},{262,76}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{262,76}}</string>
                <key>sourceSize</key>
                <string>{270,84}</string>
            </dict>
            <key>main_baricon_tren_trongsuot_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{960,34}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,34}}</string>
                <key>sourceSize</key>
                <string>{960,84}</string>
            </dict>
            <key>tala_effec_thua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{431,135}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,0},{431,135}}</string>
                <key>sourceSize</key>
                <string>{685,135}</string>
            </dict>
            <key>vip_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,805},{181,185}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,20},{181,185}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common_images-1-@1x.png</string>
            <key>size</key>
            <string>{1024,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82f8b9f73cb685c3fbb65f6a7e3e24e3:58f1e3b008b7fef2aaa7e742bc914b75:cfd3d41b0f1d9e8e35632a74f2331824$</string>
            <key>textureFileName</key>
            <string>common_images-1-@1x.png</string>
        </dict>
    </dict>
</plist>
