<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slot3_1_item_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,445},{99,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{99,71}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot3_bg_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{197,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,49}}</string>
                <key>sourceSize</key>
                <string>{197,49}</string>
            </dict>
            <key>slot3_btn_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,546},{99,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,83}}</string>
                <key>sourceSize</key>
                <string>{99,83}</string>
            </dict>
            <key>slot3_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,957},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>slot3_btn_dung_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,546},{99,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,83}}</string>
                <key>sourceSize</key>
                <string>{99,83}</string>
            </dict>
            <key>slot3_btn_quay.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,496},{119,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,85}}</string>
                <key>sourceSize</key>
                <string>{119,85}</string>
            </dict>
            <key>slot3_btn_x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,546},{99,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,83}}</string>
                <key>sourceSize</key>
                <string>{99,83}</string>
            </dict>
            <key>slot3_choose_Dien hy cung.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{203,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,321}}</string>
                <key>sourceSize</key>
                <string>{203,321}</string>
            </dict>
            <key>slot3_choose_cung_can_thanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,445},{203,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,320}}</string>
                <key>sourceSize</key>
                <string>{203,320}</string>
            </dict>
            <key>slot3_choose_ngu_hoa_vien.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,325},{203,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,321}}</string>
                <key>sourceSize</key>
                <string>{203,321}</string>
            </dict>
            <key>slot3_choose_popup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{808,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{808,441}}</string>
                <key>sourceSize</key>
                <string>{808,441}</string>
            </dict>
            <key>slot3_choose_text_chonphong.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,496},{152,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,39}}</string>
                <key>sourceSize</key>
                <string>{152,39}</string>
            </dict>
            <key>slot3_effect_coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{149,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,35}}</string>
                <key>sourceSize</key>
                <string>{149,35}</string>
            </dict>
            <key>slot3_effect_coin_fly.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,648},{413,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,236}}</string>
                <key>sourceSize</key>
                <string>{413,236}</string>
            </dict>
            <key>slot3_effect_text_nohu.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,957},{138,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,64}}</string>
                <key>sourceSize</key>
                <string>{138,64}</string>
            </dict>
            <key>slot3_effect_text_thanglon.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,496},{180,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,48}}</string>
                <key>sourceSize</key>
                <string>{180,48}</string>
            </dict>
            <key>slot3_effect_text_thuong_vq.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,957},{136,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,63}}</string>
                <key>sourceSize</key>
                <string>{136,63}</string>
            </dict>
            <key>slot3_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,445},{213,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,49}}</string>
                <key>sourceSize</key>
                <string>{213,49}</string>
            </dict>
            <key>slot3_history_line_doc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{1,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,283}}</string>
                <key>sourceSize</key>
                <string>{1,283}</string>
            </dict>
            <key>slot3_history_line_ngang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,2},{653,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{653,1}}</string>
                <key>sourceSize</key>
                <string>{653,1}</string>
            </dict>
            <key>slot3_khung.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{593,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{593,356}}</string>
                <key>sourceSize</key>
                <string>{593,356}</string>
            </dict>
            <key>slot3_line_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,886},{84,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,53}}</string>
                <key>sourceSize</key>
                <string>{84,53}</string>
            </dict>
            <key>slot3_logo_dienhycongluoc.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,886},{318,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,69}}</string>
                <key>sourceSize</key>
                <string>{318,69}</string>
            </dict>
            <key>slot3_minigamegold.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,583},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>slot3_minigameitem_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,583},{63,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,57}}</string>
                <key>sourceSize</key>
                <string>{63,57}</string>
            </dict>
            <key>slot3_minigametext_minigame.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,886},{130,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,33}}</string>
                <key>sourceSize</key>
                <string>{130,33}</string>
            </dict>
            <key>slot3_rank_line_doc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{1,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,283}}</string>
                <key>sourceSize</key>
                <string>{1,283}</string>
            </dict>
            <key>slot3_rank_line_ngang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,2},{653,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{653,1}}</string>
                <key>sourceSize</key>
                <string>{653,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_slot3-1@1x.png</string>
            <key>size</key>
            <string>{1023,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:970eae48f763908d1a9de6027e7d30cb:59da58035493fe6fa01f48314c4d273b:5c474394f96bae2505d9e9e1dc9b2e97$</string>
            <key>textureFileName</key>
            <string>game_slot3-1@1x.png</string>
        </dict>
    </dict>
</plist>
