<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card10A.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card10B.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card10C.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card10D.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card1A.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card1B.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card1C.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card1D.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card2A.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card2B.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card2C.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card2D.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card3A.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,142},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card3B.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,142},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card3C.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,142},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card3D.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,142},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card4A.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,142},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card4B.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,246},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card4C.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,386},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card4D.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,246},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card5A.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,526},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card5B.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,386},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card5C.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,246},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card5D.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,666},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card6A.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,526},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card6B.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,386},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card6C.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,246},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card6D.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,666},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card7A.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,526},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card7B.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,386},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card7C.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,246},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card7D.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,666},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card8A.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,526},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card8B.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,386},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card8C.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,246},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card8D.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,666},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card9A.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,526},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card9B.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,386},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card9C.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,666},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card9D.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,526},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>cardJA.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,666},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>cardJB.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,246},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>cardJC.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,386},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>cardJD.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,526},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>cardKA.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,666},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>cardKB.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,806},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>cardKC.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,806},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>cardKD.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,806},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>cardQA.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,806},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>cardQB.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,806},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>cardQC.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,142},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>cardQD.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,282},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,422},{101,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,138}}</string>
                <key>sourceSize</key>
                <string>{101,138}</string>
            </dict>
            <key>gameplay_effec_chonbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,148}}</string>
                <key>sourceSize</key>
                <string>{108,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_cards-@1x.png</string>
            <key>size</key>
            <string>{938,938}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4405084a5b0419d9a1d001608465fc02:389937a3ca14ebc1195e513d51514cf5:0fe12cd22ab3ab9520821c4416ab84bd$</string>
            <key>textureFileName</key>
            <string>game_cards-@1x.png</string>
        </dict>
    </dict>
</plist>
