<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_btn_soicau.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,584},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>soicau_iteminside.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,856},{34,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,47}}</string>
                <key>sourceSize</key>
                <string>{34,47}</string>
            </dict>
            <key>soicau_tai.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,973},{65,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,26}</string>
            </dict>
            <key>soicau_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,828},{149,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,26}}</string>
                <key>sourceSize</key>
                <string>{149,26}</string>
            </dict>
            <key>soicau_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{695,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{695,33}}</string>
                <key>sourceSize</key>
                <string>{695,33}</string>
            </dict>
            <key>soicau_xiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,640},{66,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>tai_iconnho.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,711},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>taiuxiu_nguoi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,856},{105,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,34}}</string>
                <key>sourceSize</key>
                <string>{105,34}</string>
            </dict>
            <key>taixieu_dice_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,738},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{86,88}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>taixieu_dice_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,738},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{86,88}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>taixieu_dice_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,828},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{86,88}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>taixieu_dice_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,918},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{86,88}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>taixieu_dice_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,496},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{86,88}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>taixieu_dice_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,552},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{86,88}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>taixieu_dice_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,418},{76,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{76,92}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>taixieu_dice_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,892},{80,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{80,94}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>taixieu_dice_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,937},{78,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{78,88}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>taixieu_dice_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,738},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,98}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>taixieu_dice_icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,894},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,98}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>taixieu_dice_icon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,892},{82,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{82,98}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>taixieu_icon_dongy.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,269},{147,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,63}}</string>
                <key>sourceSize</key>
                <string>{147,63}</string>
            </dict>
            <key>taixieu_icon_dongy_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,690},{149,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,46}}</string>
                <key>sourceSize</key>
                <string>{149,46}</string>
            </dict>
            <key>taixieu_icon_lichsu_tai.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,394},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>taixieu_icon_lichsu_xieu.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,514},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>taixieu_icon_nguoichoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,670},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>taixieu_icon_scroll_tai.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,959},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>taixieu_icon_scroll_xiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,658},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>taixieu_icon_tai.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,937},{109,65}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{109,65}}</string>
                <key>sourceSize</key>
                <string>{123,79}</string>
            </dict>
            <key>taixieu_icon_tien.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,694},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>taixieu_icon_xieu.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,561},{107,65}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{107,65}}</string>
                <key>sourceSize</key>
                <string>{123,79}</string>
            </dict>
            <key>taixieu_khung_cuoc.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,514},{163,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,45}}</string>
                <key>sourceSize</key>
                <string>{163,45}</string>
            </dict>
            <key>taixieu_khung_dem_so.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,828},{68,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,50}}</string>
                <key>sourceSize</key>
                <string>{68,50}</string>
            </dict>
            <key>taixieu_khung_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,716},{255,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,141}}</string>
                <key>sourceSize</key>
                <string>{255,141}</string>
            </dict>
            <key>taixieu_khung_nhaptien.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,833},{59,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,43}}</string>
                <key>sourceSize</key>
                <string>{59,43}</string>
            </dict>
            <key>taixieu_khung_thongtin.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,354},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>taixieu_khung_tiencuoc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,959},{186,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,37}}</string>
                <key>sourceSize</key>
                <string>{186,37}</string>
            </dict>
            <key>taixieu_line_sang_dongy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,2},{78,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,1}}</string>
                <key>sourceSize</key>
                <string>{78,1}</string>
            </dict>
            <key>taixieu_line_scroll.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,716},{203,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,8}}</string>
                <key>sourceSize</key>
                <string>{203,8}</string>
            </dict>
            <key>taixieu_linesang_lichsu_xieu.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,690},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>taixieu_linesang_tai.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,389},{203,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,123}}</string>
                <key>sourceSize</key>
                <string>{203,123}</string>
            </dict>
            <key>taixieu_linesang_xieu.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,269},{203,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,123}}</string>
                <key>sourceSize</key>
                <string>{203,123}</string>
            </dict>
            <key>taixieu_linesangs_lichsu_tai.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,504},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>taixiu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{742,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{742,350}}</string>
                <key>sourceSize</key>
                <string>{742,350}</string>
            </dict>
            <key>taixiu_bg_giatri.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,898},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>taixiu_bot_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{587,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{587,34}}</string>
                <key>sourceSize</key>
                <string>{587,34}</string>
            </dict>
            <key>taixiu_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,552},{162,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,44}}</string>
                <key>sourceSize</key>
                <string>{162,44}</string>
            </dict>
            <key>taixiu_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,598},{162,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,44}}</string>
                <key>sourceSize</key>
                <string>{162,44}</string>
            </dict>
            <key>taixiu_btn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,644},{162,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,44}}</string>
                <key>sourceSize</key>
                <string>{162,44}</string>
            </dict>
            <key>taixiu_btn_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,670},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>taixiu_btn_nan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,394},{105,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,108}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>taixiu_btn_nan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,394},{105,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,108}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>taixiu_hi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,504},{164,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,46}}</string>
                <key>sourceSize</key>
                <string>{164,46}</string>
            </dict>
            <key>taixiu_hi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,721},{164,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,46}}</string>
                <key>sourceSize</key>
                <string>{164,46}</string>
            </dict>
            <key>taixiu_khungtron1.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,959},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>taixiu_khungtron2.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{266,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,265}}</string>
                <key>sourceSize</key>
                <string>{266,265}</string>
            </dict>
            <key>taixiu_khungvalue.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,670},{161,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,43}}</string>
                <key>sourceSize</key>
                <string>{161,43}</string>
            </dict>
            <key>taixiu_kiemchung.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>taixiu_kiemchungbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,561},{593,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{593,54}}</string>
                <key>sourceSize</key>
                <string>{593,54}</string>
            </dict>
            <key>taixiu_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{241,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,241}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>taixiu_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,738},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>taixiu_tai.effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,653},{166,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,66}}</string>
                <key>sourceSize</key>
                <string>{166,66}</string>
            </dict>
            <key>taixiu_tai.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,869},{166,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,66}}</string>
                <key>sourceSize</key>
                <string>{166,66}</string>
            </dict>
            <key>taixiu_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{500,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,170}}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>taixiu_title_bot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{424,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,61}}</string>
                <key>sourceSize</key>
                <string>{424,61}</string>
            </dict>
            <key>taixiu_xiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,721},{170,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,72}}</string>
                <key>sourceSize</key>
                <string>{170,72}</string>
            </dict>
            <key>taixiu_xiueffect.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,795},{170,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,72}}</string>
                <key>sourceSize</key>
                <string>{170,72}</string>
            </dict>
            <key>xiu_iconho.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,711},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_taixiu-1@1x.png</string>
            <key>size</key>
            <string>{1017,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94b678eb2bab2344ddd3599c08b83c21:1b5ffb3872d5f57d2256d4cdc1769a66:9df0d717da2e619d80e765bf814b24e2$</string>
            <key>textureFileName</key>
            <string>game_taixiu-1@1x.png</string>
        </dict>
    </dict>
</plist>
