<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>9line_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,91},{104,104}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,104}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>Box_Payout.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,428},{94,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,131}}</string>
                <key>sourceSize</key>
                <string>{94,131}</string>
            </dict>
            <key>Jackpot_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,355},{200,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,48}}</string>
                <key>sourceSize</key>
                <string>{200,48}</string>
            </dict>
            <key>Quay_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{104,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{104,37}}</string>
                <key>sourceSize</key>
                <string>{106,43}</string>
            </dict>
            <key>SLOT02.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,537},{146,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,34}}</string>
                <key>sourceSize</key>
                <string>{146,34}</string>
            </dict>
            <key>Tong_cuoc_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,508},{115,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,27}}</string>
                <key>sourceSize</key>
                <string>{115,27}</string>
            </dict>
            <key>muccuoc_green_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,591},{55,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,26}}</string>
                <key>sourceSize</key>
                <string>{55,26}</string>
            </dict>
            <key>payline_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,88},{177,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,87}}</string>
                <key>sourceSize</key>
                <string>{177,87}</string>
            </dict>
            <key>payline_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,177},{177,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,87}}</string>
                <key>sourceSize</key>
                <string>{177,87}</string>
            </dict>
            <key>payline_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,88},{177,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,87}}</string>
                <key>sourceSize</key>
                <string>{177,87}</string>
            </dict>
            <key>payline_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,266},{177,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,87}}</string>
                <key>sourceSize</key>
                <string>{177,87}</string>
            </dict>
            <key>payline_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,177},{177,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,87}}</string>
                <key>sourceSize</key>
                <string>{177,87}</string>
            </dict>
            <key>payline_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,266},{177,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,87}}</string>
                <key>sourceSize</key>
                <string>{177,87}</string>
            </dict>
            <key>payline_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{177,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,87}}</string>
                <key>sourceSize</key>
                <string>{177,87}</string>
            </dict>
            <key>payline_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{177,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,87}}</string>
                <key>sourceSize</key>
                <string>{177,87}</string>
            </dict>
            <key>payline_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{177,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,87}}</string>
                <key>sourceSize</key>
                <string>{177,87}</string>
            </dict>
            <key>slot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,409},{97,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{97,93}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,428},{107,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{107,89}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,405},{95,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{95,85}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,279},{103,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{103,77}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,537},{85,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{85,87}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,197},{107,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{107,73}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,197},{107,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{107,97}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,306},{97,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{97,97}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,405},{89,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{89,93}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,194},{83,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{83,101}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,91},{95,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{95,101}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,502},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{87,87}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slot_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,306},{91,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{91,101}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>slotmachines_icon_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,108},{62,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,66}}</string>
                <key>sourceSize</key>
                <string>{62,66}</string>
            </dict>
            <key>slotmachines_icon_help_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,561},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>slotmachines_icon_quayngay.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,355},{158,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,71}}</string>
                <key>sourceSize</key>
                <string>{158,71}</string>
            </dict>
            <key>slotmachines_icon_quayngay_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,583},{176,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,56}}</string>
                <key>sourceSize</key>
                <string>{176,56}</string>
            </dict>
            <key>slotmachines_icon_scroll.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,591},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>slotmachines_jackpot.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,573},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>slotmachines_line_scroll.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{2,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,300}}</string>
                <key>sourceSize</key>
                <string>{2,300}</string>
            </dict>
            <key>slotmachines_tieude.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{399,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{399,81}}</string>
                <key>sourceSize</key>
                <string>{399,93}</string>
            </dict>
            <key>slotmachines_tieude_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{374,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,1}}</string>
                <key>sourceSize</key>
                <string>{374,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_slot-1@1x.png</string>
            <key>size</key>
            <string>{641,641}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a01397bc2f1284e0ebd270976a71c228:78986f47fdb1d54a30b4a85a30917c0e:26dd9de56cd6a791aa2a76ecd60e6d9d$</string>
            <key>textureFileName</key>
            <string>game_slot-1@1x.png</string>
        </dict>
    </dict>
</plist>
