<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,2},{722,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{722,181}}</string>
                <key>sourceSize</key>
                <string>{722,181}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,545},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{829,541}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{829,541}}</string>
                <key>sourceSize</key>
                <string>{831,541}</string>
            </dict>
            <key>pot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{678,456}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{678,456}}</string>
                <key>sourceSize</key>
                <string>{678,456}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jackpot-1@1x.png</string>
            <key>size</key>
            <string>{1016,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15a1fd33b7ae8c4fa6ff3e9dc6325467:819a727762e5173e86355a38cd1eb400:f79085c70d4c3f2d816b5f430cf1f54a$</string>
            <key>textureFileName</key>
            <string>jackpot-1@1x.png</string>
        </dict>
    </dict>
</plist>
