<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lobby_v2_3Cay.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,211}}</string>
                <key>sourceSize</key>
                <string>{188,211}</string>
            </dict>
            <key>lobby_v2_Binh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{188,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,211}}</string>
                <key>sourceSize</key>
                <string>{188,211}</string>
            </dict>
            <key>lobby_v2_Mini game.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,215},{121,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,129}}</string>
                <key>sourceSize</key>
                <string>{121,129}</string>
            </dict>
            <key>lobby_v2_Ta la.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{188,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,211}}</string>
                <key>sourceSize</key>
                <string>{188,211}</string>
            </dict>
            <key>lobby_v2_btn top Hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,343},{100,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,103}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>lobby_v2_circle_minigame.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,215},{127,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,126}}</string>
                <key>sourceSize</key>
                <string>{127,126}</string>
            </dict>
            <key>lobby_v2_icon_gembar copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,346},{79,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>lobby_v2_top_icon-Dien-Hy.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,68},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>lobby_v2_top_icon-Halloween.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lobby_v2_top_icon-Tai-Xiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,346},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lobbyv2-2@1x.png</string>
            <key>size</key>
            <string>{448,448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3143d9a74c11e3b1a8fbb7846a375124:b9b3efe91d4a35012b5ff158f6e2cf57:120eff591e13e015c2e506e7c942325b$</string>
            <key>textureFileName</key>
            <string>lobbyv2-2@1x.png</string>
        </dict>
    </dict>
</plist>
